* {
  box-sizing: border-box;
  font-family: Helvetica;
}
/* div{
	display: block;
} */
h1 {
  margin-bottom: 25px;
  font-size: 36px;
  text-align: center;
}
.row{
	width: 100%;
}
.section {
    position: relative;
    margin: 0px;
    background-color: grey;
    border: 1px solid black;
}
p {
    margin: 50px 10px 10px 10px;
    width: 90%;
}
/* Desktop version */
@media(min-width: 992px){
 .col-ld-4{
 	float: left;
 	border: 1px solid black;
 	width: 33.3%;
 	position: relative;
 	margin:5px;
	height: 100%;
 }
}

/* Tablet version */
@media(min-width: 768px) and (max-width: 991px){
 .col-md-6{
  	float: left;
  	border: 1px solid black;
  	width: 50%;
  	margin: 5px;
	height: 100%;
  }
 .col-md-12{
 	float: left;
  	border: 1px solid black;
  	width: 100%;
  	margin: 5px;
	height: 100%;
 }
}

/* Mobile version */
@media(max-width: 767px){
.col-sd{
  	float: left;
  	border: 1px solid black;
  	width: 100%;
  	margin: 5px;
	height: 100%;
  }
}

#chicken{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	background-color: maroon;
	width: 150px;
	text-align: center;
	color: white;
	margin-top: 0px;
	margin-right: 0px;
}

#beef{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	background-color: blue;
	width: 150px;
	text-align: center;
	color: maroon;
	margin-top: 0px;
	margin-right: 0px;
}

#sushi{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	background-color: black;
	width: 150px;
	text-align: center;
	color: yellow;
	margin-top: 0px;
	margin-right: 0px;
}





